.parent {
  min-height: 100vh;
  background-color: #ced9e0;
  padding: 30px;
  box-sizing: border-box;
}

/* Parent heading */
.header {
  text-align: center;
  font-size: 28px;
  font-style: italic;
  margin-bottom: 20px;
}

/* Parent text */
.para {
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
}

/* Wrapper for child components */
.children {
  display: flex;
  justify-content: center;
  gap: 80px;
}

/* Child boxes */
.c1,
.c2 {
  width: 360px;
  height: 170px;
  background-color: #83afed;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}
