<div class="layout">
  <!-- Sidebar -->
  @if (sidebarOpen()) {
  <aside class="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
      <strong>{{ title() }}</strong>
      <button (click)="toggleSidebar()">✖</button>
    </div>

    <hr />

    <!-- Tutorial Dropdown -->
    <details>
      <summary>Tutorial</summary>
      <a routerLink="/t01">T01 Interpolation</a>
      <a routerLink="/t02">T02 Function</a>
      <a routerLink="/t03">T03 Data Type</a>
      <a routerLink="/t04">T04 Events</a>
      <a routerLink="/t05">T05 Get & Set</a>
      <a routerLink="/t06">T06 If Else</a>
      <a routerLink="/t07">T07 Else If</a>
      <a routerLink="/t08">T08 Switch</a>
      <a routerLink="/t09">T09 For Loop</a>
      <a routerLink="/t10">T10 Signals</a>
      <a routerLink="/t11">T11 Effects</a>
      <a routerLink="/t12">T12 Two Way</a>
      <a routerLink="/t13">T13 Directives</a>
      <a routerLink="/t14">T14 Routing</a>
      <a routerLink="/t15">T15 Header with Routing</a>
      <a routerLink="/t16">T16 Page Not Found</a>
      <a routerLink="/t17">T17 Data Passing Bet Pages</a>
    </details>

    <details>
      <summary>Task</summary>
      <a routerLink="/task01">Task01 Counter</a>
      <a routerLink="/task02">Task02 Todo</a>
    </details>
  </aside>
  }

  <!-- Content -->
  <main class="content">
    <!-- Menu Button (visible when sidebar closed) -->
    @if (!sidebarOpen()) {
    <button (click)="toggleSidebar()">☰ Menu</button>
    <hr />
    }

    <router-outlet></router-outlet>
  </main>
</div>
